doctype html
html
  head
    title= "狼人杀面杀小法官"
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet' href='https://getbootstrap.com/docs/4.4/dist/css/bootstrap.min.css')
  body
    block content
