extends layout

block content
  div(class="container")
    div(class="row" id="settings" style="margin-top: 100px" hidden)
      each description, index in descriptions
        div(class="col" style="margin-top: 20px")
          div(class="card" style="width: 20rem;")
            img(class="card-img-top" src="images/" + index + ".png" alt="Card image cap")
            div(class="card-body")
              h5(class="card-title")= index
              p(class="card-text")= description
              a(class="btn btn-primary" style="color: white" id="add-" + index onclick="add('" + index + "')") 添加 (0)
    div(class="row" id="room" style="margin-top: 100px" hidden)
        input(class="form-control form-control-lg" type="text" placeholder="房间号")
  div(class="row w-100")
    div(class="col-lg-4 mx-auto")
      div(class="text-left p-5")
        form
          div(class="mt-5" id="finish" hidden)
            a(href="#" class="btn btn-block btn-primary btn-lg") 创建!
          div(class="mt-5" id="confirm" hidden)
            a(href="#" class="btn btn-block btn-primary btn-lg") 加入！
          div(class="mt-5" id="cancel" hidden)
            a(href="#" class="btn btn-block btn-warning btn-lg") 取消
          div(class="mt-5" id="create")
            a(href="#" class="btn btn-block btn-primary btn-lg") 创建房间
          div(class="mt-5" id="join")
            a(href="#" class="btn btn-block btn-warning btn-lg") 加入房间
  script(src="js/index.js")
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")


