extends layout

block content
  div(class="row mb-2" id="settings" style="margin-top: 100px" hidden)
    each description, index in descriptions
      div(class="col-lg-6" style="margin-top: 20px;")
        div(class="card flex-md-row mb-6 box-shadow h-md-250")
          div(class="card-body d-flex flex-column align-items-start")
            h5(class="card-title")= index
            p(class="card-text mb-auto")= description
            a(class="btn btn-block btn-primary" style="color: white" id="add-" + index onclick="add('" + index + "')") 添加 (0)
          img(class="card-img-right flex-auto d-none d-md-block" style="width: 200px; height: 250px;" src="images/" + index + ".png" alt="Card image cap")
  div(class="row mb-2" style="margin-top: 100px")
    div(class="col-md" id="create")
      div(class="card flex-md-row mb-4 box-shadow h-md-250")
        div(class="card-body d-flex flex-column align-items-start")
          img(class="flex-auto d-md-block img-fluid" alt="create room" src="images/create-room.png" data-holder-rendered="true")
          a(href="#" class="btn btn-block btn-primary btn-lg") 创建房间
    div(class="col-md")
    div(class="col-md" id="join")
      div(class="card flex-md-row mb-4 box-shadow h-md-250")
        div(class="card-body d-flex flex-column align-items-start")
          img(class="flex-auto d-md-block img-fluid" alt="join room" src="images/join-room.png" data-holder-rendered="true")
          a(href="#" class="btn btn-block btn-warning btn-lg") 加入房间
  div(class="row mb-2 mx-auto justify-content-center")
    div(class="col-md-8 mt-5" id="room" hidden)
      input(class="form-control form-control-lg" type="text" id="roomId" placeholder="房间号")
    div(class="col-md-8 mt-5" id="finish" hidden)
      a(style="color: white" class="btn btn-block btn-primary btn-lg") 创建!
    div(class="col-md-8 mt-5" id="confirm" hidden)
      a(style="color: white" class="btn btn-block btn-primary btn-lg") 加入！
    div(class="col-md-8 mt-5" id="cancel" hidden)
      a(href="#" class="btn btn-block btn-warning btn-lg") 取消
  script(src="js/index.js")


