doctype html
html
  head
    title= "狼人杀面杀小法官"
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet' href='https://getbootstrap.com/docs/4.4/dist/css/bootstrap.min.css')
  body
    h1(class="display-4 d-flex justify-content-center") 狼人杀面杀小法官
    div(class="container-scroller")
      div(class="container-fluid page-body-wrapper full-page-wrapper align-items-center content-wrapper")
        block content
