extends layout

block content
    div(class="row mb-2 justify-content-center" style="margin-top: 20px")
        div(class="col-lg-8")
            div(class="card")
                div(class="row no-gutters")
                    div(class="col-md-1")
                    div(class="card-body col-md-5 d-flex flex-column align-items-start")
                        if isCreator
                            p(class="d-inline-block mb-2 text-success") 房主您好
                        h4(class="card-title")= "房间ID为：" + roomId
                        if mySeatNumber === -1
                            h5(class="card-text mb-auto") 选个座位吧
                        else
                            - let num = mySeatNumber + 1
                            h5(class="card-text mb-auto")= "您是" + num + "号玩家"
                    div(class="col-md-5 d-flex flex-column text-right" style="margin-top: 15px")
                        h5 房间配置
                        each config in configuration.split("\n")
                            h5= config
    div(class="row mb-2" id="settings" style="margin-top: 20px")
        each seat, i in seatMap
            div(class="col-lg-3" style="margin-top: 20px")
                div(class="card flex-md-row mb-6 box-shadow h-md-250")
                    - let img = seat? "background.png":"empty.png"
                    img(class="card-img-top flex-auto d-none d-md-block" style="width: 100px; height: 100px;" src="/images/" + img alt="Card image cap")
                    div(class="card-body")
                        h5(class="card-title")= i + 1 + "号玩家"
                        p(class="card-text mb-auto")
                        if !seat
                            a(class="btn btn-block btn-primary" style="color: white" id="sit-" + index onclick="sit('" + roomId + "','" + i + "')") 坐下
    div(class="row w-100")
        div(class="col-lg-4 mx-auto")
            div(class="text-center p-4")
                if isCreator
                    div(class="mt-5")
                        a(class="btn btn-block btn-primary btn-lg" style="color: white") 开始游戏！
                else
                    h4 请等待房主开始游戏
                div(class="mt-5")
                    a(class="btn btn-block btn-warning btn-lg" onclick="cancel(" + roomId + ")") 退出房间
    script(src="/js/room.js")
