extends layout

block content
    div(class="container")
        div(class="row w-100")
                div(class="col-lg-4 mx-auto")
                    div(class="text-center p-4")
                        if isCreator
                            h3 房主您好！
                        h3= "房间ID为：" + roomId
                        if mySeatNumber === -1
                            h4 选个座位吧
                        else
                            - let num = mySeatNumber + 1
                            h4(style="margin-top: 20px")= "您是" + num + "号玩家"
                    div(class="text-center p-0")
                        h4= "本房间配置为：" + configuration
    div(class="container")
        div(class="row" id="settings" style="margin-top: 20px")
            each seat, i in seatMap
                div(class="col" style="margin-top: 20px")
                    div(class="card" style="width: 10rem;")
                        - let img = seat? "background.png":"empty.png"
                        img(class="card-img-top" src="/images/" + img alt="Card image cap")
                        div(class="card-body")
                            h5(class="card-title")= i + 1 + "号玩家"
                            p(class="card-text")
                            if !seat
                                a(class="btn btn-primary" style="color: white" id="sit-" + index onclick="sit('" + roomId + "','" + i + "')") 坐下
    div(class="container")
        div(class="row w-100")
            div(class="col-lg-4 mx-auto")
                div(class="text-center p-5")
                    if isCreator
                        a(class="btn btn-primary btn-lg" style="color: white") 开始游戏！
                    else
                        h4 请等待房主开始游戏
    script(src="/js/room.js")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
